
@{
    ViewBag.Title = "SOQLResult";
}

@model List<DataLibrary.Models.QueryModel>

<style>
    .loginPage {
    }

    html {
        height: 100%;
    }

    body {
        height: 100%;
        background-image: linear-gradient(140deg, #9d2c9e 0%, #f68084 100%);
        background-attachment: fixed;
    }

    .results {
    }

    .tableRender {
        display: inline-table;
    }

    .scheduleBox {
        min-height: 15%;
    }

    .inputs {
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 25px 25px 3px 3px;
    }

    .schedulePage {
        max-width: 92.5%;
    }

    .top {
        z-index: 1;
    }

    .soqlBox {
        width: 500px;
    }

    .textBox {
        width: 100%;
    }

    .form-signin {
        padding: 15px;
    }

    .box {
        width: 40%;
        max-width: 60%;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>

<div class="top text-centre pb-3 row ">

    <h4 class="p-1 text-white text-end col-8">Would you like to execute and store this query now?</h4>

    <div class="col text-start rounded">

        @using (Html.BeginForm("AddToDatabase", "Query", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input type="submit" value="Run Query" class="btn text-center  pt-2" style="background-color: #9d2c9e; color: white">

        }

    </div>



</div>



<div class="container-fluid bg-white rounded-3 shadow-sm">
    <div class=" text-center mx-auto ">

        <div class="loginPage">

            @*Query Results Box*@

            <div class=" pt-5 pe-5 ps-5 pb-3 row rounded text-center">

                @foreach (var item in Model)
                {

                    <div class="col">
                        <table class="table tableRender table-bordered table-striped">

                            <tr>
                                <th> @item.FieldName</th>
                            </tr>


                            @foreach (var value in item.FieldValueList)
                            {
                                if (value != null)
                                {
                                    <tr>

                                        <td>@value.ToString()</td>
                                    </tr>

                                }
                            }


                        </table>
                    </div>
                }

            </div>
        </div>
    </div>

</div>


<div class="container-fluid pt-2">






    <div class="text-center  mx-auto">


        @using (Html.BeginForm("ScheduleQuery", "Query", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="scheduleBox pb-3 top px-auto pt-4">

                <h3 class="p-1 text-white text-center">Would you like to schedule this query?</h3>

                <div class="row px-5 mx-5 bg-light inputs text-center">

                    <div class="col float-end ps-5 ms-5">
                        <p class="lead">Enter Date</p>
                        <input type="datetime-local" name="Date" />
                    </div>
            
                    <div class="col float-start pe-5 me-5">
                        <input type="submit" value="Schedule" class="btn text-center mt-4 pt-2" style="background-color: #9d2c9e; color: white">
                    </div>
                </div>

            </div>

        }

    </div>

</div>



